In [51]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"/Users/ziadali/Documents/Semster 5/Data Science (Ai.342)/Data Science Project/cleaned_data1.csv")

In [3]:
df.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,price
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,10300
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,38005
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,54598
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,15500
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,34999

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3560 non-null   object
 1   model         3560 non-null   object
 2   model_year    3560 non-null   int64
 3   milage        3560 non-null   int64
 4   fuel_type     3560 non-null   object
 5   engine        3560 non-null   object
 6   transmission  3560 non-null   object
 7   ext_col       3560 non-null   object
 8   int_col       3560 non-null   object
 9   accident      3560 non-null   object
 10  price         3560 non-null   int64
dtypes: int64(3), object(8)
memory usage: 306.1+ KB

In [6]:
df.describe()

        model_year         milage         price
count  3560.000000    3560.000000  3.560000e+03
mean   2015.465730   66458.472753  4.340187e+04
std       5.819806   52106.149413  7.953055e+04
min    1996.000000     100.000000  2.000000e+03
25%    2012.000000   24650.750000  1.699725e+04
50%    2017.000000   55000.000000  3.000000e+04
75%    2020.000000   96000.000000  4.862450e+04
max    2024.000000  405000.000000  2.954083e+06

In [8]:
#The most common model.
df['model'].value_counts()

model
M3 Base                  29
Corvette Base            22
F-150 XLT                20
1500 Laramie             18
Camaro 2SS               17
                         ..
Sprinter Normal Roof      1
530e Base                 1
XJ Vanden Plas            1
Ram 2500 SLT Quad Cab     1
Continental GT Speed      1
Name: count, Length: 1732, dtype: int64

In [15]:
#Average price of cars.
ave_price = df['price'].mean()
print(ave_price)

43401.86713483146

In [16]:
#Lowest and highest price.
lowest_price = df['price'].min()
highest_price = df['price'].max()
print(lowest_price)
print(highest_price)

2000
2954083

In [17]:
#Average mileage for all cars.
ave_mileage = df['milage'].mean()
print(ave_mileage)

66458.47275280899

In [19]:
#Distribution of year models (model_year).
dis_of_year_models = df['model_year'].value_counts().sort_index()
print(dis_of_year_models)

model_year
1996      4
1997      8
1998     10
1999     14
2000     15
2001     29
2002     31
2003     44
2004     57
2005     67
2006     61
2007     93
2008    106
2009     68
2010     95
2011    116
2012    126
2013    146
2014    168
2015    213
2016    248
2017    237
2018    279
2019    269
2020    283
2021    299
2022    291
2023    177
2024      6
Name: count, dtype: int64

In [30]:
#The most common type of fuel.
most_type_of_fuel = df['fuel_type'].value_counts().idxmax()
print(most_type_of_fuel)

Gasoline

In [32]:
#The most common type of transmission.
most_transmission = df["transmission"].value_counts().idxmax()
print(most_transmission)

A/T

In [34]:
#Most common exterior colors.
most_colors_ext = df['ext_col'].value_counts().idxmax()
print(most_colors_ext)

Black

In [35]:
#Most popular interior colors
most_colors_int = df['int_col'].value_counts().idxmax()
print(most_colors_int)

Black

In [50]:
#The relationship between price and model year
relationship_between_price_and_model_year = df.groupby('model_year')['price'].mean().sort_index()
print(relationship_between_price_and_model_year)

model_year
1996    15749.750000
1997    11999.875000
1998    13387.900000
1999    12090.714286
2000    13756.600000
2001    15167.896552
2002    14573.000000
2003    15919.977273
2004    12964.315789
2005    86444.835821
2006    23026.622951
2007    18317.870968
2008    18969.179245
2009    20270.632353
2010    18723.736842
2011    36261.250000
2012    19176.904762
2013    23412.280822
2014    24259.851190
2015    30593.042254
2016    35221.306452
2017    41325.244726
2018    49624.157706
2019    49608.126394
2020    58829.113074
2021    64041.190635
2022    66947.982818
2023    86234.101695
2024    91580.833333
Name: price, dtype: float64

In [65]:
#Are newer cars consistently more expensive?
price_and_newercars = df.groupby('model_year')['price'].median().sort_values(ascending=False)
print(price_and_newercars)

model_year
2024    85750.0
2023    69900.0
2022    49900.0
2021    45899.0
2020    45000.0
2019    39900.0
2018    36990.0
2017    29999.0
2016    24999.5
2015    23500.0
2014    19625.0
2013    17947.5
1996    15749.5
2012    15275.5
2009    14749.5
2008    13125.0
2006    12999.0
2001    12749.0
2003    12500.0
2002    12500.0
2000    12500.0
2011    12200.0
2005    12000.0
2007    11500.0
2010    11000.0
1998    10900.0
2004    10000.0
1999     9250.0
1997     8100.0
Name: price, dtype: float64

In [77]:
#Which brands lose their value the fastest?
df['milage_k'] = df['milage'] / 1000 
df['car_age'] = df['model_year'].max() - df['model_year']
df['value_index'] = df['price'] / (df['car_age'] + 1)
value_loss = df.groupby('brand')['value_index'].mean().sort_values()
print(value_loss)

brand
smart               294.117647
Saab                567.730978
Suzuki              575.000000
Pontiac             698.190532
Saturn              709.761029
Scion               741.722944
Mercury             899.891775
Hummer             1055.040254
Plymouth           1187.500000
FIAT               1622.541667
MINI               1749.153155
Mitsubishi         1754.741379
Chrysler           2075.967410
INFINITI           3368.780859
Buick              3499.068173
Subaru             3627.935915
Honda              3849.844721
Hyundai            4176.128548
Volkswagen         4198.988155
Nissan             4645.818782
Jaguar             4684.401859
Lincoln            5035.860029
Mazda              5179.723631
Volvo              5261.233551
Lotus              5321.924603
Dodge              5879.408499
Toyota             6933.926852
Jeep               7038.759527
Ford               7133.287068
Lexus              7281.351248
Acura              7355.762878
Chevrolet          8359.447160
Kia                8389.239887
Audi               8391.265698
GMC                8907.078600
BMW                9462.968258
Mercedes-Benz      9531.668016
Cadillac           9735.737021
RAM                9900.457840
Alfa               9989.604762
Genesis           13601.490741
Land              15569.879529
Porsche           15870.876273
Maserati          17033.048390
Aston             26236.290441
Bentley           35556.533916
McLaren           37603.523810
Ferrari           44326.833951
Lamborghini       53366.802137
Rolls-Royce       78764.748677
Bugatti          139356.785714
Name: value_index, dtype: float64

In [82]:
#Are cars with automatic transmission more expensive than those with manual transmission?
df["M_and_A"] = df['transmission'].apply(
    lambda x: "Manual" if x.lower() == "manual" 
    else ("Automatic" if x.lower() == "automatic" 
    else "Other")
)

transmission_by_price = df.groupby('M_and_A')['price'].mean()
print(transmission_by_price)

M_and_A
Automatic    64216.720588
Manual       11498.000000
Other        42145.734128
Name: price, dtype: float64

In [95]:
#Which types of fuel are generally the most expensive?
most_fuel_exp = df.groupby('fuel_type')['price'].max().sort_values(ascending=False)
print(most_fuel_exp)

fuel_type
Gasoline          2954083
Diesel             200000
Hybrid             175000
Plug-In Hybrid      86999
E85 Flex Fuel       79950
not supported       18500
Name: price, dtype: int64

In [ ]:
#Model price volatility
volatility = df.groupby("model")['price'].std().sort_values(ascending=False)
print(volatility)

model
Quattroporte Base            1.695581e+06
Escalade ESV Sport           2.257765e+05
Cullinan                     2.086319e+05
911 R                        1.972828e+05
AMG G 63 Base                1.287100e+05
                                 ...
allroad 2.7T                          NaN
i3 120Ah w/Range Extender             NaN
tC Base                               NaN
tC Release Series 6.0                 NaN
xB Base                               NaN
Name: price, Length: 1732, dtype: float64

In [102]:
#The relationship between mileage and price for older versus newer cars
old_cars = df[df['model_year'] <= 2015]
new_cars = df[df['model_year'] > 2015]

corr_old = old_cars['milage'].corr(old_cars['price'])
corr_new = new_cars['milage'].corr(new_cars['price'])

print(corr_old)
print(corr_new)

-0.164428700244414
-0.38471925740311674